* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
/*head*/
nav {
    display: flex;
    font-family: sans-serif;
    background-color: black;
    padding: 1rem;
    margin: 0rem;
}
.logo a{
    align-items: flex-start;
    text-decoration: none;
    color: ghostwhite;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    padding: 1rem;
}
.nav-links ul {
    list-style-type: none;
    overflow: hidden;
    padding: 2rem;
}
.nav-links li{
    font-family: 'Julius Sans One', sans-serif;
    display: inline-block;
    padding: 0.5rem;
    margin: 0rem;
    background-color: black;
    color: ghostwhite;
    text-align: center;
}  
.nav-links a{
    text-decoration: none;
    color: ghostwhite;
} 
.nav-links li:hover{
    font-weight: bold;
}

/*main content*/
.main {
    background-color: ghostwhite;
    color: black;
}

#h1 {
    background-color: ghostwhite;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
}
p {
    color: black;
    font-family: 'Roboto', sans-serif;
}
.footer {
    background-color: black;
    color: ghostwhite;
}