* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*head*/
nav {
    display: flex;
    font-family: sans-serif;
    background-color: black;
    padding: 1em;
}
.logo {
    align-items: flex-start;
    text-decoration: none;
    color: ghostwhite;
    padding: 1em;
}
.nav-links a{
    text-decoration: none;
    color: ghostwhite;
}
.nav-links ul {
    list-style-type: none;
    overflow: hidden;
    align-items: flex-end;
}
.nav-links li{
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
    border: none;
    color: ghostwhite;
    text-align: center;
}   
/*main content*/
.main {
    background-color: ghostwhite;
    color: black;
}

#h1 {
    background-color: ghostwhite;
    color: black;
    font-family: sans-serif;
}
.footer {
    background-color: black;
    color: ghostwhite;
}